.task-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  color: #eee;
  align-items: center;

  &--completed {
    border-left: 6px solid chartreuse;
  }
}

.task-title {
  cursor: pointer;
  width: 100%;
}

.buttons-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.remove-task-button,
.see-task-detail-button {
  background-color: #444;
  border: none;
  font-size: 24px;
  color: chartreuse;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}